# Dependencies
/node_modules

# Build folder
/dist

# Environment variables
.env
.env.*
.env.local
.env.*.local

# IDE and OS files
.DS_Store
.vscode/

# Firebase
.firebaserc
firebase.json
functions/.runtimeconfig.json

# Minia Template Assets
/src/assets/images
/src/assets/scss
