# Dependencies
/node_modules

# Vite build output
/dist

# Environment variables
.env
.env.*

# IDE and OS files
.DS_Store


# Firebase
.firebaserc
firebase.json

# Firebase Emulator runtime config
functions/.runtimeconfig.json

# Dependencies
/node_modules

# Minia Template Assets
/src/assets/images
/src/assets/scss

# Build folder
/dist

# Environment variables
.env.local
.env.*.local

# IDE config
.vscode/
